<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title">欢迎光临</h1>
      <p class="subtitle">
        购物系统-物料管理后台
      </p>

      <ul>
        <li>
         <a href="/shopadmin/v1/home">商品管理</a> 
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
